header
  position: fixed
  left: 50%
  transform: translateX(-50%)
  top: 0
  z-index: 100
  width: 100%
  +mediaSp
    background: rgba(#000, 0.7)
  &.header-blog
    background: rgba(#000, 0.7)
  .site-title
    line-height: 1
    img
      vertical-align: baseline
      margin-top: 2px
      +mediaSp
        width: 80px
  .container
    max-width: 1200px
    width: 100%
    padding: 0 20px
    margin: 0 auto
    display: flex
    height: 70px
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    +mediaSp
      height: 50px
    .nav
      display: flex
      .nav__item
        + .nav__item
          margin-left: 20px
        a
          color: #fff
          text-decoration: none
    +mediaSp
      nav
        display: none
        position: absolute
        width: 100%
        left: 0
        top: 50px
        background: rgba(#000, 0.7)
        .nav
          display: block
          .nav__item
            border-top: 1px solid #ccc
            + .nav__item
              margin-left: 0
            a
              display: block
              padding: 10px 20px
    .sp-icon
      display: none
      +mediaSp
        display: block
        width: 28px
        height: 2px
        background: #fff
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        &::before, &::after
          content: ""
          display: block
          width: 28px
          height: 2px
          background: #fff
          position: absolute
          right: 0
          top: 50%
          transform: translateY(-50%)
          transition: .3s
        &::before
          margin-top: -8px
        &::after
          margin-top: 8px
        &.open
          background: transparent
          &::before
            transform: translateY(-50%)rotate(45deg)
            margin-top: 0
          &::after
            transform: translateY(-50%)rotate(-45deg)
            margin-top: 0
main
  height: 100vh
  overflow: hidden
  min-width: 1200px
  +mediaTab
    min-width: auto
  +mediaSp
    min-width: auto
.top-contents
  background: url(/assets/images/main_bg.jpg) center center no-repeat
  background-size: cover
  height: 100vh
  overflow: hidden
  min-height: 800px
  +mediaSp
    min-height: 100vh
.content-wrap
  padding: 70px 20px
  box-sizing: border-box
  height: 100vh
  overflow: auto
  width: 100%
  position: relative
  color: #a0a0a0
  display: flex
  align-items: center
  justify-content: center
  +mediaSp
    padding: 80px 20px 50px
    display: block
    font-size: 1.4rem
    &#top
      display: flex
      .content-inner
        text-align: center
  .not-found
    text-align: center
  &.blog-wrap
    background: #fff
    height: auto
    display: block
    padding: 0 0 100px
    .content-inner
      position: static
      transform: none
      margin: 0 auto
      text-align: left
  .content-inner
    max-width: 1200px
    text-align: center
    +mediaSp
      width: 100%
      text-align: left

  .main-logo
    width: 300px
    margin-bottom: 30px
    +mediaSp
        width: 200px
  .about-content
    + .about-content
      margin-top: 70px
      +mediaSp
        margin-top: 40px
  h2
    font-size: 3rem
    font-weight: bold
    color: #fff
    margin-bottom: 10px
    +mediaSp
      font-size: 2.4rem
      text-align: center
  .btn-link
    display: flex
    justify-content: center
    margin-top: 30px
    li
      margin: 0 10px
      a
        display: block
        width: 180px
        padding: 11px 0
        text-align: center
        border: 1px solid #fff
        border-radius: 4px
        color: #a0a0a0
        text-decoration: none
        transition: .5s
        &:hover
          background: #fff
      +mediaSp
        margin: 0 5px
        a
          width: 28vw
  .discography-list
    display: flex
    justify-content: center
    +mediaTab
      flex-wrap: wrap
    +mediaSp
      flex-wrap: wrap
    li
      transition: .3s

    &.top
      margin: 40px 0
      +mediaSp
        display: block
        margin-top: 20px
      li
        margin: 0 30px
        +mediaTab
          width: 28vw
          margin: 0 1.5vw
          img
            max-width: 100%
        +mediaSp
          margin: 0 0 20px
          text-align: center
        &:hover
          transform: scale(1.1)
          box-shadow: 0 0 20px #000
          cursor: pointer
    &.bottom
      li
        margin: 0 10px
        +mediaTab
          margin: 0 0.75vw
          width: 10vw
          img
            max-width: 100%
        +mediaSp
          margin: 10px 20px
        &:hover
          transform: scale(1.2)
          box-shadow: 0 0 1px #000
  .discography-modal
    display: none
    position: fixed
    width: 100%
    height: 100vh
    background: rgba(#000, 0.7)
    z-index: 10000
    left: 0
    top: 0
    .modal-inner
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      .detail
        display: none
        &#sousou
          background: #000
        &#idealwelt
          background: #700e1d
        &#curtain
          background: #5e2615
        .detail-inner
          display: flex
          width: 900px
          align-items: center
          +mediaTab
            width: 350px
            display: block
          +mediaSp
            display: block
            width: 80vw
          .jacket
            +mediaSp
              display: none
          img
            vertical-align: bottom
            max-width: 100%
          .contents
            flex: 1
            text-align: center
            color: #fff
            +mediaTab
              padding: 15px 10px 20px
            +mediaSp
              padding: 30px 20px 40px
            h3
              font-size: 3rem
              font-weight: bold
              margin-bottom: 30px
              +mediaTab
                font-size: 2.4rem
                margin-bottom: 15px
              +mediaSp
                font-size: 2.4rem
                margin-bottom: 15px
            .release
              font-weight: bold
              margin-bottom: 10px
              +mediaTab
                font-size: 1.4rem
              +mediaSp
                font-size: 1.4rem
            +mediaTab
              p
                font-size: 1.4rem

            +mediaSp
              p
                font-size: 1.4rem
            .link-button
              margin-top: 15px
              text-align: center
              a
                display: inline-block
                padding: 10px 0
                width: 200px
                color: #fff
                text-decoration: none
                border: 1px solid #fff
                border-radius: 4px
                font-size: 1.8rem
                transition: .3s
                +mediaSp
                  font-size: 1.6rem
                &:hover
                  background: #fff
                  color: #a0a0a0
            .btn-link
              margin-top: 10px
              .link-button
                margin: 0 5px
              +mediaTab
                display: block
                margin-top: 0
                .link-button
                  margin-top: 10px
              +mediaSp
                display: block
                margin-top: 0
                .link-button
                  margin-top: 10px

      #modal-close-btn
        position: absolute
        right: -20px
        top: -20px
        width: 40px
        height: 40px
        &:hover
          cursor: pointer
        &::before, &::after
          content: ""
          background: #fff
          position: absolute
          left: 50%
          top: 50%
          width: 40px
          height: 3px
          display: block
        &::before
          transform: translate(-50%, -50%)rotate(45deg)
        &::after
          transform: translate(-50%, -50%)rotate(-45deg)
footer
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  padding: 10px 0
  color: #a0a0a0
  width: 100%
  text-align: center
  +mediaSp
    background: rgba(#000, 0.7)
    padding: 5px 0
    font-size: 1.2rem
  &.footer-blog
    position: static
    background: rgba(#000, 0.7)
    text-align: center
    padding: 20px 0
    transform: none
    +mediaSp
      padding: 5px 0

#page-top
  display: none
  position: fixed
  bottom: 40px
  right: 40px
  font-size: 14px
  line-height: 1
  z-index: 99
  +mediaSp
    right: 20px
  a
    background: #fff
    box-shadow: 0 0 16px rgba(#000, 0.15)
    text-decoration: none
    color: #fff
    width: 70px
    padding: 28px 5px
    text-align: center
    display: block
    border-radius: 90px
    transition: all .3s ease
    position: relative
    box-sizing: border-box
    +mediaSp
      width: 50px
      padding: 18px 5px

    &::before, &::after
      content: ""
      display: block
      width: 20px
      height: 4px
      background: #ccc
      position: absolute
      left: 50%
      top: 50%
      +mediaSp
        width: 15px
        height: 2px
    &::before
      margin-left: -6px
      transform: translate(-50%, -50%)rotate(-45deg)
      +mediaSp
        margin-left: -4px
    &::after
      margin-left: 6px
      transform: translate(-50%, -50%)rotate(45deg)
      +mediaSp
        margin-left: 4px
    &:hover
      text-decoration: none
      opacity: .7
