{% assign separator = "{3aacbed8-6af0-42f4-8338-6bcfa91cd2d7}" %}
{% assign taglist_alpha_reversed = "" | split: "" %}
{% for t in site.tags %}
{% capture item %}{{ t[0] }}{{ separator }}{{ t[1].size }}{% endcapture %}
{% assign taglist_alpha_reversed = taglist_alpha_reversed | push: item %}
{% endfor %}
{% assign taglist_alpha_reversed = taglist_alpha_reversed | sort | reverse %}
{% assign taglist_prepend_count = "" | split: "" %}
{% assign index = 0 %}
{% for t in taglist_alpha_reversed %}
{% assign _t = t | split: separator %}

{% comment %} 0詰め {% endcomment %}
{% assign padded_count = _t[1] | prepend: "00000" | slice: -5, 5 %}
{% assign padded_index = index | prepend: "00000" | slice: -5, 5  %}

{% assign item = padded_count
  | append: separator | append: padded_index
  | append: separator | append: _t[0]
%}

{% assign taglist_prepend_count = taglist_prepend_count | push: item %}

{% assign index = index | plus: 1 %}
{% endfor %}
{% assign taglist_prepend_count = taglist_prepend_count | sort | reverse %}
{% assign taglist = "" | split: "" %}
{% for t in taglist_prepend_count %}
{% assign _t = t | split: separator %}

{% comment %} 0詰め文字列を数値に戻す {% endcomment %}
{% assign count = _t[0] | plus: 0 %}

{% assign item = "" | split: "" | push: _t[2] | push: count %}
{% assign taglist = taglist | push: item %}
{% endfor %}
<ul>
{% for tag in taglist %}
<li><a href="/blog/tag/{{ tag[0] | uri_escape }}">{{ tag[0] }} ({{ tag[1] }})</a></li>
{% endfor %}
</ul>
