---
layout: blog
title: A-HEAD BLOG
---
<div class="content-inner">
  <div class="left-column">
    {% include _article_list.html %}
    <!-- ページネーション -->
    {% if paginator.total_pages > 1 %}
      <div class="pagination">

        {% if paginator.previous_page %}
          <a class="pagination__item pagination__prev" href="{{ paginator.previous_page_path | relative_url }}">&lt; 前のページ</a>
        {% endif %}

        <span class="pagination__item pagination__number">
          {{ paginator.page }} / {{ paginator.total_pages }}
        </span>

        {% if paginator.next_page %}
          <a class="pagination__item pagination__next" href="{{ paginator.next_page_path | relative_url }}">次のページ &gt;</a>
        {% endif %}

      </div><!--pagination-->
    {% endif %}

  </div>
  <div class="right-column">
    {% include _side_column.html %}
  </div>
</div><!--container-->
