html, body, div, span,h1, h2, h3, h4, h5, h6, p, em, img ,b, i, dl, dt, dd, ol, ul, li, table, caption, tbody, tr, th, td,article,footer, header, iframe{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a:hover{
	opacity:0.8;
	}
 
body {
	line-height:2;
	font-family: "Hiragino Kaku Gothic ProN", "Meiryo UI", "Meiryo", sans-serif;
}
 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}
 
ul {
	list-style:none;
}
 
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

 
table {
	border-collapse:collapse;
	border-spacing:0;
}
 
/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}
 
input, select {
    vertical-align:middle;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */