<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <meta name="description" content="ここにページの説明文">
  <meta name="viewport" content="width=device-width">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/assets/js/script.js"></script>
  {% feed_meta %}
</head>

<body class="fadeout">

<!-- サイト名とナビゲーション部分｡全ページ共通 -->
<header class="header">
  <div class="container">
    <div class="site-title"><img src="/assets/images/logo.svg" alt="{{site.title}}" width="150"></div>
    <nav>
      <ul class="nav">
        <li class="nav__item"><a href="/#top">TOP</a></li>
        <li class="nav__item"><a href="/#about">ABOUT</a></li>
        <li class="nav__item"><a href="/#discography">DISCOGRAPHY</a></li>
        <li class="nav__item"><a href="{{ '/blog/' | relative_url }}">BLOG</a></li>
      </ul>
    </nav>
  </div>
</header>

{{ content }}

<!-- フッター｡全ページ共通 -->
<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <p class="copyright"><small>Copyright &copy A-HEAD All right reserved.</small></p>
    </div><!--footer__container-->
  </div><!--container-->
</footer>
</body>
</html>
