<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/assets/js/script.js"></script>
  {% feed_meta %}
  {% seo title=false %}
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.image }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/images/ogimage.png" />
  {% endif %}
</head>

<body class="fadeout">
  <!-- サイト名とナビゲーション部分｡全ページ共通 -->
  <header class="header">
    {% include _header.html %}
  </header>

{{ content }}

<!-- フッター｡全ページ共通 -->
<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <p class="copyright"><small>Copyright &copy A-HEAD All right reserved.</small></p>
    </div><!--footer__container-->
  </div><!--container-->
</footer>
</body>
</html>
