---
layout: blog
---

<div class="content-inner">
  <div class="left-column">
    <article class="article">
      <h1 class="title">{{ page.title }}</h1>
      <div class="title-under">
        <ul class="tag">
          {% for tag in page.tags %}
            <li>
              <a href="/blog/tag/{{ tag }}">{{tag}}</a>
            </li>
          {% endfor %}
        </ul>
        <p class="archive__date"><time>{{ page.date | date: '%Y/%-m/%-d' }}</time></p>
      </div>
      <section class="article-block">
        {{ content }}
        <div class="sns-block">
          <a href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{page.title}}" target="_blank"><img src="/assets/images/icon_twitter.svg" alt="ツイート"></a>
        </div>
      </section>
    </article>
    <!-- 前後のページへのリンクを表示したい -->
    <div class="pagination article-pagination">

      {% if page.next %}
        <a class="pagination__prev" href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
      {% endif %}

      {% if page.previous %}
        <a class="pagination__next" href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
      {% endif %}

    </div><!--pager-->

  </div><!--article-post-->
  <div class="right-column">
    {% include _side_column.html %}
  </div>
</div><!--page-->
